{% extends 'base.html' %}

{% block content %}
    <!-- end header section -->
  </div>

  <!-- food section -->

  <section class="food_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our Menu
        </h2>
      </div>

      <ul class="filters_menu">
        <li class="active" data-filter="*">All</li>
        <li data-filter=".burger">Burger</li>
        <li data-filter=".pizza">Pizza</li>
        <li data-filter=".pasta">Pasta</li>
        <li data-filter=".fries">Fries</li>
      </ul>
      <!-- 1 - ustun -->
      <div class="filters-content">
        <div class="row grid"> 
          {% for products in page %}
          <div class="col-sm-6 col-lg-4 all pizza">
         
            <div class="box">
              <div>
                <div class="img-box">
                  {% if products.product_image %}
                  <img src="{{ products.product_image.url }}" alt="">
                  {% endif %}
                  
                </div>
                <div class="detail-box">
                  <h5>
                    {{ products.product_name }}
                  </h5>
                  <p id="soz">
                    {{ products.product_compound }}
                  </p>
                    <div class="">
                      <hr>
                      {% if user.is_authenticated %}
                      <!-- bu qismi js kodlaari ucun mahsulot idisini olishimiz uchun -->
                      <button data-product='{{ products.id }}' data-action='add' class="btn btn-outline-secondary add-btn update-cart" id="button Add to Cartadd" style="margin-top: -1px;">Add to Cart</button>
                      <a class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModel-{{ forloop.counter }}">View</a>
                      <h4 style="display: inline-block; float: right;">
                        <strong>
                          ${{ products.product_price }}
                        </strong>
                      </h4>
                      {% else %}
                      <a href="{% url 'login' %}">
                        <button id="buttonadd">Add to Cart</button>
                      </a>

                      <a class="btn btn-outline-success" data-toggle="modal" data-target="exampleModal-{{ forloop.counter }}">View</a>
                        <h4 style="display: inline-block; float: right;">                        
                          <strong>
                            ${{ products.product_price }}
                          </strong>
                        </h4>
                      {% endif %}
                    </div>
                </div>
              </div>   
            </div>    
          </div>
          {% endfor %}
        </div>

      <!-- Menyular tugashi -->
  <br>
      <div class="col-md-6">
        <div class="col-12 my-5">
          <nav aria-label = "Page Navigation">
            {% if page.has_previous %}
            <a href="{% url 'menu' %}?page={{page.previous_page_number}}"><button type="button">Oldingi sahifa</button></a>
             {% endif %}
             {% if page.has_next %}
            <a href="{% url 'menu' %}?page={{page.next_page_number}}"><button type="button">Keyingi sahifa</button></a>
             {% endif %}
             <style type="text/css">
               button{
                      margin-top:  15px;
                      border: none;
                      text-transform: uppercase;
                      display: inline-block;
                      padding: 10px 55px;
                      background-color: #ffbe33;
                      color: #ffffff;
                      border-radius: 45px;
                      -webkit- transition: all 0.3s;
                      transition: all 0.3s;
                      border: none;
               }
             </style>
          </nav>  
        </div>
      </div>
      
    </div>
    </div>
  </section>

  <!-- end food section -->

  <!-- footer section -->
  {% endblock content %}
